<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link rel="stylesheet" type="text/css" media="all"  
href="../static/css/mycss.css" th:href="@{/css/mycss.css}" />
</head>
<body>
<br>
<div class="container">
<header>
<a th:href="@{/}">Home</a>
<a th:href="@{/secure/AddContact}">Add Contact </a>
<a th:href="@{/secure/ListContacts}">List Contacts </a>
<a th:href="@{/register}">Register User </a>
</header>
<hr>
<h1>Welcome to Contact Directory page!!!:)</h1>
<h1>Click below to go to Login page</h1>
<a th:href="@{/login}">Login</a>
<h1>Click below to go to Sign Up page</h1>
<a th:href="@{/register}">Register</a>
<div class=footer>
<p>	&#169; &nbsp; 2020 by Jay Patel All rights reserved.</p>
</div></div>

</body>
</html>