<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Exercise 21</title>
</head>
<body style="text-align:center;">
<h1 style="font-size:28px;color:#34495E;font-family:Arial, Helvetica, sans-serif;font-weight:900;">
Book an Appointment</h1><br>
<form method="post" action="/formPost" style="font-size:20px;color:#808B96;font-family:Arial, Helvetica, sans-serif;font-weight:900;">
First Name: &nbsp;&nbsp;<input type="text" name="firstName" /><br><br>
Email: &nbsp;&nbsp;<input type="email" name="email" /><br><br>
Day: &nbsp;&nbsp;<input type="date" name="appointmentDate" /><br><br>
Time: &nbsp;&nbsp;<input type="time" name="appointmentTime" /><br><br><br>
<input type="submit" value="Go!" style="font-size:24px;color:#34495E;font-family:Arial, Helvetica, sans-serif;font-weight:900;"/>
</form>
</body>
</html>