<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<a href="/">Back To Home</a>
<h1 style="color:#2F4F4F;font-size:30px;font-weight:900;font-family:Times New Roman, Times, serif;;"><center>About Me</center></h1>
<h2 style="color:#696969;font-size:18px;font-weight:bold;font-family: Arial, Helvetica, sans-serif;">Name: Jay Patel</h2>
<h2 style="color:#808080;font-size:18px;font-family:Lucida Console, Courier, monospace;;">Student ID: 991592044</h2>
<h2 style="color:#8B0000;font-size:18px;font-family:Arial, Helvetica, sans-serif;">College Program: Computer Programmer</h2>
</body>
</html>